<!doctype html>
<header>
  <link rel="stylesheet" href="{{ 'assets/reveal/reveal.css' | url }}" />
  <link rel="stylesheet" href="{{ 'assets/reveal/theme/moon.css' | url }}" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</header>
<title>MTG Advent 2023</title>

{%include "custom.njk"%}

<body>
  <div class="reveal">
    <div class="slides">
      {% include "slides/start.njk" %}

      {% for key,pack in packs%}
        {% include "slides/pack.njk"%}
      {% endfor %}
      
    </div>
  </div>

  <script src="{{ 'assets/reveal/reveal.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/highlight/highlight.js' | url }}"></script>
  <script src="{{ 'assets/reveal/plugin/notes/notes.js' | url }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      slideNumber: false,
      plugins: [ RevealNotes, RevealHighlight ]
    });
  </script>
</body>
